study_dir: '/home/tony/study/'
study_username: 'tony'

vcs_pkg_sls:
  - 'devel.git'
  - 'devel.mercurial'

python_sls: lang.python.python-libs

study_repos: 
  c:
    git: {
      awesome: 'git://git.naquadah.org/awesome.git',
      weechat: 'git://git.sv.gnu.org/weechat.git',
      retroarch: 'https://github.com/Themaister/RetroArch.git',
      linux: 'https://github.com/torvalds/linux.git',
      freebsd: 'https://github.com/freebsd/freebsd.git',
      ncmpc: 'git://git.musicpd.org/master/ncmpc.git',
      tmux: 'git://git.code.sf.net/p/tmux/tmux-code',
      git: 'https://github.com/git/git.git',
      postgres: 'https://github.com/postgres/postgres.git',
    }
    hg: {
      cpython: 'http://hg.python.org/cpython/',
      vim: 'https://vim.googlecode.com/hg/',
      nginx: 'http://hg.nginx.org/nginx'
    }
  c++:
    git: {
      vimpc: 'https://github.com/boysetsfrog/vimpc',
      mpd: 'git://git.musicpd.org/master/mpd.git',
      libmpd: 'git://git.musicpd.org/master/libmpd.git',
      ncmpcpp: 'git://git.musicpd.org/mirror/ncmpcpp.git',
      libmpdclient: 'git://git.musicpd.org/master/libmpdclient.git',
      node: 'https://github.com/joyent/node.git',
      libzmp: 'https://github.com/zeromq/libzmq.git',
      doubanfm-qt: 'https://github.com/zonyitoo/doubanfm-qt.git',
      retroarch-phoenix: 'https://github.com/Themaister/RetroArch-Phoenix.git',
    }
  node:
    git: {
      async: 'http://github.com/caolan/async.git',
      request: 'git://github.com/mikeal/request.git',
      express: 'https://github.com/visionmedia/express.git',
      node-optimist: 'http://github.com/substack/node-optimist.git',
      commander.js: 'https://github.com/visionmedia/commander.js.git', 
      colors.js: 'git://github.com/Marak/colors.js.git',
      uglify.js: 'git://github.com/mishoo/UglifyJS.git',
      connect: 'git://github.com/senchalabs/connect.git',
      socket.io: 'https://github.com/LearnBoost/socket.io.git',
      node-mkdirp: 'https://github.com/substack/node-mkdirp.git',
      jade: 'https://github.com/visionmedia/jade.git',
      redis: 'https://github.com/antirez/redis.git',
      node-uuid: 'https://github.com/broofa/node-uuid.git',
      node-mime: 'https://github.com/broofa/node-mime.git',
      mime-magic: 'https://github.com/SaltwaterC/mime-magic.git',
      debug: 'https://github.com/visionmedia/debug.git',
      wintson: 'https://github.com/flatiron/winston.git',
      less.js: 'https://github.com/cloudhead/less.js.git',
      less: 'https://github.com/cloudhead/less.git',
      todo: 'https://github.com/cloudhead/toto.git',
      http-control: 'https://github.com/cloudhead/http-console.git',
      cradle: 'https://github.com/cloudhead/cradle.git',
      journey: 'https://github.com/cloudhead/journey.git',
      pilgim: 'https://github.com/cloudhead/pilgrim.git',
      node-glob: 'https://github.com/isaacs/node-glob.git',
      jsdom: 'https://github.com/tmpvar/jsdom.git',
      node-mongodb-native: 'https://github.com/mongodb/node-mongodb-native.git',
      node-pkginfo: 'https://github.com/indexzero/node-pkginfo.git',
      nodejs-intro: 'https://github.com/indexzero/nodejs-intro.git',
      wrench-js: 'https://github.com/ryanmcgrath/wrench-js.git',
      grunt: 'https://github.com/gruntjs/grunt.git',
      moment: 'https://github.com/timrwood/moment.git',
      q: 'https://github.com/kriskowal/q.git',
      mocha: 'https://github.com/visionmedia/mocha.git',
      node-semvar: 'https://github.com/isaacs/node-semver.git',
      handlebars.js: 'https://github.com/wycats/handlebars.js.git',
      underscore.string: 'https://github.com/epeli/underscore.string.git',
      node-oauth: 'https://github.com/ciaranj/node-oauth.git',
      vows: 'https://github.com/cloudhead/vows.git',
      cheerio: 'https://github.com/MatthewMueller/cheerio.git',
      node-mysql: 'https://github.com/felixge/node-mysql.git',
      node-querystring: 'https://github.com/visionmedia/node-querystring.git',
      node-browserify: 'https://github.com/substack/node-browserify.git',
      node-http-proxy: 'https://github.com/nodejitsu/node-http-proxy.git',
      through: 'https://github.com/dominictarr/through.git',
      superagent: 'https://github.com/visionmedia/superagent.git',
      supertest: 'https://github.com/visionmedia/supertest.git',
      npm: 'https://github.com/isaacs/npm.git',
      passport-oauth: 'https://github.com/jaredhanson/passport-oauth.git',
      watch: 'https://github.com/mikeal/watch.git',
      hogan.js: 'https://github.com/twitter/hogan.js.git',
      mustache: 'https://github.com/defunkt/mustache.git',
      node-temp: 'https://github.com/bruce/node-temp.git',
      node-sprintf: 'https://github.com/maritz/node-sprintf.git',
      nodeunit: 'https://github.com/caolan/nodeunit.git',
      cli-color: 'git://github.com/medikoo/cli-color.git',
      node-jshint: 'https://github.com/jshint/node-jshint.git',
      node-static: 'https://github.com/cloudhead/node-static.git',
      passport: 'https://github.com/jaredhanson/passport.git',
      shelljs: 'https://github.com/arturadib/shelljs.git',
      tutorial-nodejs-cli: 'https://github.com/oscmejia/tutorial-nodejs-cli.git',
      cli-table: 'https://github.com/LearnBoost/cli-table.git',
      mongoose: 'https://github.com/LearnBoost/mongoose.git',
      browserbuild: 'https://github.com/LearnBoost/browserbuild.git',
      engine.io: 'https://github.com/LearnBoost/engine.io.git',
      engine.io-client: 'https://github.com/LearnBoost/engine.io-client.git',
      socket.io: 'https://github.com/LearnBoost/socket.io.git',
      socket.io-client: 'https://github.com/LearnBoost/socket.io-client.git',
      knox: 'https://github.com/LearnBoost/knox.git',
      jsonp: 'https://github.com/LearnBoost/jsonp.git',
      node-tar: 'https://github.com/isaacs/node-tar.git',
      node-bindings: 'https://github.com/TooTallNate/node-bindings.git',
      node-fs-extra: 'https://github.com/jprichardson/node-fs-extra.git',
      chai: 'https://github.com/chaijs/chai.git',
      grunt-lib-contrib: 'https://github.com/gruntjs/grunt-lib-contrib.git',
      node-irc: 'https://github.com/martynsmith/node-irc.git',
      jasmine-node: 'https://github.com/mhevery/jasmine-node.git',
      node-querystring: 'https://github.com/visionmedia/node-querystring.git',
      highlight.js: 'https://github.com/isagalaev/highlight.js.git',
    }
  javascript:
    git: {
      backbone.deepmodel: 'https://github.com/powmedia/backbone-deep-model.git',
      underscore: 'https://github.com/documentcloud/underscore.git',
      lodash: 'https://github.com/bestiejs/lodash.git',
      backbone: 'https://github.com/documentcloud/backbone.git',
      requirejs: 'https://github.com/jrburke/requirejs.git',
      r.js: 'https://github.com/jrburke/r.js.git',
      volo: 'https://github.com/volojs/volo.git',
      create-responsive-template: 'https://github.com/volojs/create-responsive-template.git',
      yeoman: 'https://github.com/yeoman/yeoman.git',
      cajon: 'https://github.com/requirejs/cajon.git',
      jquery: 'https://github.com/jrburke/jquery.git',
      backbone.marionette: 'https://github.com/marionettejs/backbone.marionette.git',
      backbone.wreqr: 'https://github.com/marionettejs/backbone.wreqr.git',
      backbone.babysitter: 'https://github.com/marionettejs/backbone.babysitter.git',
      flight: 'https://github.com/twitter/flight.git',
      bower: 'https://github.com/twitter/bower.git',
      codemirror: 'https://github.com/marijnh/CodeMirror.git',
      doctorjs: 'https://github.com/mozilla/doctorjs.git'
    }
  python: {
    git: {
      pip: 'git://github.com/pypa/pip.git',
      ipdb: 'http://github.com/gotcha/ipdb.git',
      virtualenv: 'https://github.com/pypa/virtualenv.git',
      jinja2: 'https://github.com/mitsuhiko/jinja2.git',
      flask: 'https://github.com/mitsuhiko/flask.git',
      frozen-flask: 'https://github.com/SimonSapin/Frozen-Flask.git',
      werkzeug: 'https://github.com/mitsuhiko/werkzeug.git',
      cjklib: 'https://github.com/cburgmer/cjklib.git',
      pudb: 'http://git.tiker.net/trees/pudb.git',
      ipython: 'https://github.com/ipython/ipython.git',
      blessing: 'https://github.com/erikrose/blessings.git',
      salt: 'https://github.com/saltstack/salt.git',
      salt-ui: 'https://github.com/saltstack/salt-ui.git',
      salt-formulae: 'https://github.com/saltstack/formulae',
      salt-api: 'https://github.com/saltstack/salt-api.git',
      salt-cloud: 'https://github.com/saltstack/salt-cloud.git',
      salt-vagrant: 'https://github.com/saltstack/salty-vagrant.git',
      salt-contrib: 'https://github.com/saltstack/salt-contrib.git',
      sqlalchemy: 'https://github.com/zzzeek/sqlalchemy.git',
      wtforms: 'https://github.com/Khan/wtforms.git',
      botocore: 'https://github.com/boto/botocore.git',
      libcloud: 'https://github.com/apache/libcloud.git',
      python_koans: 'https://github.com/gregmalcolm/python_koans.git',
      lxml: 'https://github.com/lxml/lxml.git',
      python-guide: 'https://github.com/kennethreitz/python-guide.git',
      httpbin: 'https://github.com/kennethreitz/httpbin.git',
      envoy: 'https://github.com/kennethreitz/envoy.git',
      legit: 'https://github.com/kennethreitz/legit.git',
      tablib: 'https://github.com/kennethreitz/tablib.git',
      grequests: 'https://github.com/kennethreitz/grequests.git',
      kr-sphinx-themes: 'https://github.com/kennethreitz/kr-sphinx-themes.git',
      gist-api: 'https://github.com/kennethreitz/gistapi.py.git',
      gevent: 'https://github.com/surfly/gevent.git',
      tornado: 'https://github.com/facebook/tornado.git',
      pystache: 'https://github.com/defunkt/pystache.git',
      pandas: 'https://github.com/pydata/pandas',
      ncmpy: 'https://github.com/cykerway/ncmpy.git',

      soundcloud-cli: 'https://github.com/0xPr0xy/soundcloud-cli.git',
      pyradio: 'https://github.com/coderholic/pyradio.git',

      glances: 'https://github.com/nicolargo/glances.git',
      powerline: 'https://github.com/Lokaltog/powerline.git',
      jieba: 'https://github.com/fxsjy/jieba.git',
      storm: 'https://github.com/emre/storm.git',
      fabric: 'https://github.com/fabric/fabric.git',
      ansible: 'https://github.com/ansible/ansible',
      fn.py: 'https://github.com/kachayev/fn.py.git',
      buildbot: 'https://github.com/buildbot/buildbot.git',
      beets: 'https://github.com/sampsyo/beets.git',
      magicmethods: 'https://github.com/RafeKettler/magicmethods.git',
      ckan: 'https://github.com/okfn/ckan.git',
      gateone: 'https://github.com/liftoff/GateOne.git',
      glue: 'https://github.com/jorgebastida/glue.git',
      objbrowser: 'https://github.com/titusjan/objbrowser',
      reddit: 'https://github.com/reddit/reddit.git',
      pythagora: 'https://github.com/tarmack/Pythagora.git',
      youtube-dl: 'https://github.com/rg3/youtube-dl.git',
      twisted: 'https://github.com/twisted/twisted.git',
      introduction_to_sqlalchemy: 'https://bitbucket.org/zzzeek/pycon2013_student_package.git',
      probablistic-programming-and-beyesian-methods: 'https://github.com/CamDavidsonPilon/Probabilistic-Programming-and-Bayesian-Methods-for-Hackers.git',
      python-patterns: 'https://github.com/faif/python-patterns.git',
      learn-pandas: 'https://bitbucket.org/hrojas/learn-pandas.git',
      ckan: 'https://github.com/okfn/ckan.git',
      hackthebox: 'https://github.com/moloch--/RootTheBox.git',
      mediagoblin: 'git://gitorious.org/mediagoblin/mediagoblin.git',

      w3lib: 'https://github.com/scrapy/w3lib',
      scrapy: 'https://github.com/scrapy/scrapy.git',
      scrapely: 'https://github.com/scrapy/scrapely.git',

      calibre: 'git://github.com/kovidgoyal/calibre.git'

    },
    hg: {
      bpython: 'https://bitbucket.org/bobf/bpython/',
      urwid: 'https://excess.org/hg/urwid/',
      sphinx: 'https://bitbucket.org/birkenfeld/sphinx',
      sphinx-contrib: 'https://bitbucket.org/birkenfeld/sphinx-contrib',
    }
  }
